# Vikis Sweets Shop - .env sample
RP_SITE_API_KEY=your_rp_site_api_key
RP_REDIRECT_URI=http://localhost:3000/auth/callback
OP_SITE_API_KEY=your_op_site_api_key
OP_SITE_DATA_CENTER=us1
OP_ISSUER_URL=https://fidm.us1.gigya.com/oidc/op/v1.0/your_op_site_api_key
OP_TOKEN_ENDPOINT_URL=https://fidm.us1.gigya.com/oidc/op/v1.0/your_op_site_api_key/token
OP_USERINFO_ENDPOINT_URL=https://fidm.us1.gigya.com/oidc/op/v1.0/your_op_site_api_key/userinfo
OP_CLIENT_ID_FOR_RP=your_client_id_from_op_for_this_rp
OP_CLIENT_SECRET_FOR_RP=your_client_secret_from_op_for_this_rp
USER_KEY=your_cdc_user_key_for_rp_site
USER_SECRET=your_cdc_user_secret_for_rp_site
PORT=3000
SESSION_SECRET=change_this_secret
OP_PROVIDER_NAME=your_op_provider_name